
.share {
  padding: 15px;
  border-radius: 15px;
  background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-primary-4));
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 100%;
}

.shareURL {
  white-space: normal;
  text-overflow: clip;
}

.controls {
  display: flex;
}

.content {
  max-width: 480px;
  margin-left: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-left: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    "Greycliff CF",
    var(--mantine-font-family);
  font-size: 34px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.smallImage {
  display: none;

  @media (max-width: $mantine-breakpoint-md) {
    display: block;
    width: 300px;
    height: 250px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 225px;
    height: 200px;
  }
}

.imageFlexRow {
  display: flex;
  justify-content: center;
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
  width: 100%;
  flex-basis: stretch;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
      align-items: stretch;
  }
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}