.modalRoot {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border-radius: var(--mantine-radius-xl);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    overflow: hidden;

    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }

  .helpModalRoot {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border-radius: var(--mantine-radius-xl);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    overflow: hidden;
  }
  
  .modal {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-0));
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--mantine-font-size-md);
  }

  .modalTitle {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-xl)
  }

  .modalBody {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    width: 100%;

  }

  .modalHeader {
    width: 100%;
    background: light-dark(
      linear-gradient(135deg, var(--mantine-color-primary-0) 0%, var(--mantine-color-primary-1) 100%),
      linear-gradient(135deg, var(--mantine-color-dark-5) 0%, var(--mantine-color-dark-6) 100%)
    );
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    padding: var(--mantine-spacing-md);
  }
  
  .modalText {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-lg);
  }
  
  .checkBoxLabelText {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-2));
    font-size: var(--mantine-font-size-md);
    font-weight: 700;
  }

  .modalCloseButton {
    display: none;
  }

  .modalInnerText {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-2));
    font-weight: 500;
    font-size: var(--mantine-font-size-lg);
  }

  .modalInnerTextContainer {
    border-radius: var(--mantine-radius-md);
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  }

  .modalMessageText {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-2));
  }