.root {
    padding: 40px;
    background-color: var(--mantine-color-primary-0);
    border-radius: var(--mantine-radius-xl);
  }
  
  .control {
    @media (max-width: $mantine-breakpoint-sm) {
      width: 100%;
    }
  }

  .imageFlexRow {
    display: flex;
    justify-content: center;
  }
  
  .mobileImage {
    width: 250px;
    height: 250px;

    @media (min-width: 48em) {
      display: none;
    }
  }
  
  .desktopImage {
    width: 350px;

    @media (max-width: 47.99em) {
      display: none;
    }
  }