.message {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding-right:26px;
}

.messageBubble {
    max-width: 500px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--mantine-color-white);
    background: var(--mantine-color-pink-5);
    align-self: end;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 25px;
    }

    &::before {
        right: -7px;
        width: 20px;
        background-color: var(--mantine-color-pink-5);
        border-bottom-left-radius: 16px 14px;
    }

    &::after {
        right: -26px;
        width: 26px;
        background-color: var(--mantine-color-white);
        border-bottom-left-radius: 10px;
    }
}

.messageLabel {
    color: var(--mantine-color-gray-7);
    align-self: flex-end;
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      padding: calc(var(--mantine-spacing-md));
    }
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: calc(var(--mantine-spacing-xs));
    }
  }
  
  .content {
    width: 100%;
  }


.backButton {
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: 10px
    }
  }

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column-reverse;
  }
}