# Environment: local, staging, production
ENVIRONMENT=local

# Project
PROJECT_NAME="Notification Service"
STACK_NAME=labour-tracker
SRC_DIR=./backend/app
CONFIG_TOML=./backend/config.toml
PYPROJECT_TOML=./backend/pyproject.toml

# Keycloak
KEYCLOAK_SERVER_URL="http://keycloak:8080"
KEYCLOAK_REALM="labour_tracker"
KEYCLOAK_CLIENT_ID="labour_tracker_backend"
KEYCLOAK_CLIENT_SECRET="changeme"

USER_MANAGEMENT_SERVICE_CLIENT_ID="user-management-service"
USER_MANAGEMENT_SERVICE_CLIENT_SECRET=""

# Logging
# Level can be set to "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
LOG_LEVEL="INFO"

# Uvicorn
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8001
UVICORN_RELOAD=false

# Postgres
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="changeme"
POSTGRES_DB="notification_service"
POSTGRES_HOST="db"
POSTGRES_PORT=5432

# SQLAlchemy Engine
SQLA_ECHO=false
SQLA_ECHO_POOL=false
SQLA_POOL_SIZE=50
SQLA_MAX_OVERFLOW=10

DATABASE_ENCRYPTION_KEY="test-secret-key"

# CORS
BACKEND_CORS_ORIGINS="http://localhost,https://localhost"

# Email - SFTP
SMTP_HOST="mailcatcher"
SMTP_USER=""
SMTP_PASSWORD=""
EMAILS_FROM_EMAIL="noreply@example.com"
EMAILS_FROM_NAME="name"
SMTP_SSL=false
SMTP_TLS=false
SMTP_PORT=1025
SUPPORT_EMAIL=""
TRACKING_LINK=""

# SMS - Twilio
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
SMS_FROM_NUMBER=""
MESSAGING_SERVICE_SID=""

# GCP
GCP_PROJECT_ID="test"
GCP_PRODUCER_RETRIES=3
