.wrapper {
  display: flex;
  align-items: center;
  border-radius: var(--mantine-radius-md);
  background-image: linear-gradient(
    -60deg,
    var(--mantine-color-pink-2) 0%,
    var(--mantine-color-pink-4) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);
 

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
  }
}

.body {

  @media (max-width: var(--mantine-breakpoint-sm)) {
    padding-right: 0;
    margin-top: var(--mantine-spacing-xl);
  }
}

.share {
  padding: 15px;
  border-radius: 15px;
  background-color: var(--mantine-color-pink-1);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
}

.controls {
  display: flex;
  margin-top: var(--mantine-spacing-xl);
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.statRoot {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  background-image: linear-gradient(
    -60deg,
    var(--mantine-color-pink-2) 0%,
    var(--mantine-color-pink-4) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
  }
}

.title {
  color: var(--mantine-color-white);
  font-weight: 700;
  font-size: var(--mantine-font-size-md);
}

.statCount {
  color: var(--mantine-color-white);
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
}

.statDescription {
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-md);
  margin-top: 5px;
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    border-left: 1px solid var(--mantine-color-pink-0);
    min-width: 170px;

    @media (max-width: var(--mantine-breakpoint-sm)) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
      border-top: 1px solid var(--mantine-color-pink-0);
    }
  }
}