.controls {
  display: flex;
}

.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: calc(var(--mantine-spacing-xl));
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-xs) {
      padding: calc(var(--mantine-spacing-xs));
      padding-bottom: calc(var(--mantine-spacing-md));
  }
}

.content {
  max-width: 480px;
  margin-right: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    "Greycliff CF",
    var(--mantine-font-family);
  font-size: 34px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 24px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.smallImage {
  display: none;

  @media (max-width: $mantine-breakpoint-md) {
    display: block;
    width: 300px;
    height: 250px;
  }
}

.imageFlexRow {
  display: flex;
  justify-content: center;
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  flex-basis: stretch;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.submitRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.backButton {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: 10px
  }
}