.timelineLabel {
    color: var(--mantine-color-gray-7);
    font-size: 11pt;
    font-weight: 400;
}

.bulletText {
    color: var(--mantine-color-pink-1);
    font-weight: 1000;
    font-size: var(--mantine-font-size-xl);
}