.controls {
    display: flex;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      padding: calc(var(--mantine-spacing-md));
    }
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: calc(var(--mantine-spacing-xs));
    }
  }
  
  .content {
    width: 100%;
    margin-right: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      "Greycliff CF",
      var(--mantine-font-family);
    font-size: 34px;
    line-height: 1.2;
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 24px;
    }
  }

.controlsBackground {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--mantine-color-pink-1);
}

.slider {
    margin-bottom: 10px;
}

.markLabel {
    color: var(--mantine-color-gray-7);
    font-weight: 600;
    font-size: var(--mantine-font-size-sm);
}

.track {
    background-color: var(--mantine-color-pink-1);
}

.timelineLabel {
    color: var(--mantine-color-gray-7);
    font-size: 11pt;
    font-weight: 400;
}

.bulletText {
    color: var(--mantine-color-pink-1);
    font-weight: 1000;
    font-size: var(--mantine-font-size-xl);
}

.flexRow {
  display: flex;
  width: 100%;
  align-items: center;
}