.labourNotesLabel{
    color: var(--mantine-color-gray-8);
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
  }

  .backButton {
    @media (max-width: $mantine-breakpoint-sm) {
      margin-bottom: 10px
    }
  }

  .image {
    width: 376px;
    height: 356px;
  
    @media (max-width: $mantine-breakpoint-md) {
      display: none;
    }
  }
 
  .imageFlexRow {
    display: flex;
    justify-content: center;
  }

  .smallImage {
    display: none;
  
    @media (max-width: $mantine-breakpoint-md) {
      display: block;
      width: 300px;
      height: 250px;
    }

    @media (max-width: $mantine-breakpoint-xs) {
      width: 225px;
      height: 200px;
    }
  }