.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-xs) {
      padding: 0;
  }
}

.selectRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;;
    padding-top: calc(var(--mantine-spacing-md));
  }
}

.buttonRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.content {
  width: 100%;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    "Greycliff CF",
    var(--mantine-font-family);
  font-size: 34px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 24px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    flex-basis: stretch;
    flex-wrap: wrap;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }
}

.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
  border-radius: var(--mantine-radius-lg);
  background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-5));

  @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
  }
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.buttonLabel {
  white-space: unset;
}