.labourStatsText {
  color: light-dark((--mantine-color-gray-9), var(--mantine-color-gray-2));
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
}

.labourStatsTabsRoot {
  background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-3));;
  border-radius: var(--mantine-radius-lg);
  padding: 10px;
  flex-direction: column;
}

.labourStatsTabsPanel {
  width: 100%;
  padding: calc(var(--mantine-spacing-md));

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-xs) {
      padding: calc(var(--mantine-spacing-xs) / 3);
  }
}

.labourStatsTabsTab {
  border-radius: var(--mantine-radius-md);
  font-weight: 600;
  flex-grow: 1;
    
  &[data-active] {
    background-color: light-dark(var(--mantine-color-primary-4), var(--mantine-primary-color-4));;
  }
}

.statsTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;
  padding: calc(var(--mantine-spacing-xl));
  padding-bottom: 0px;
  column-gap: 20px;

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
    padding-bottom: 0px;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xs));
    padding-bottom: 0px;
    flex-direction: column;
  }
}

.statsInner {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--mantine-spacing-xl));
  padding-top: 0px;
  margin-top: 10px 0px;
  width: 100%;

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0px;
  }
} 

.content {
  max-width: 470px;
  flex-grow: 1;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }
}

.tableHeader {
  background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-4));
  font-weight: 600;
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}


.labourStatsChartRoot {
  --chart-grid-color: light-dark(alpha(var(--mantine-color-black), 0.15), alpha(var(--mantine-color-gray-1), 0.15));
  --chart-text-color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-1));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-primary-4));
  padding: 30px 30px 10px;
  border-radius: 15px;

  @media (max-width: $mantine-breakpoint-xs) {
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
  }
}

