.inner {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--mantine-spacing-xl));

    @media (max-width: $mantine-breakpoint-md) {
        padding: calc(var(--mantine-spacing-md));
    }

    @media (max-width: $mantine-breakpoint-xs) {
        padding: 0;
    }
}
  
  .content {
    max-width: 470px;
    margin-right: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
    }
  }

  .image {
    width: 376px;
    height: 356px;
  
    @media (max-width: $mantine-breakpoint-md) {
      display: none;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      "Greycliff CF",
      var(--mantine-font-family);
    font-size: 34px;
    line-height: 1.2;
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 28px;
    }
  }
