.header {
    height: 60px;
    background-color: var(--mantine-color-pink-3);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .drawer {
    background-color: var(--mantine-color-pink-3);
  }

  .body {
    display: flex;
    height: 90vh;
  }

  .drawerLabel {
    justify-content: center;
    color: var(--mantine-color-white);
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    margin: auto;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .title {
    flex-shrink: 1;
    color: var(--mantine-color-white);
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: 700;
  }

  .titleRow {
    height: 84px;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

  .inner {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileImage {
    @media (min-width: 48em) {
      display: none;
    }
  }
  
  .desktopImage {
    @media (max-width: 47.99em) {
      display: none;
    }
  }
  
  .links {
    padding-top: var(--mantine-spacing-lg);
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .linksDrawer {
    padding-top: var(--mantine-spacing-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:1;
    background-color: var(--mantine-color-pink-3);
  }

  .linksDrawer > *{
    margin-top: 15px;
  }
  
  .mainLinks {
    margin-right: calc(var(--mantie-spacing-sm) * -1);
  }
  
  .mainLink {
    text-transform: uppercase;
    border-radius: 20px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-1));
    padding: 7px var(--mantine-spacing-sm);
    font-weight: 700;
    border: 2px solid transparent;
    transition:
      border-color 200ms ease,
      background-color 200ms ease,
      color 200ms ease;
  
    @mixin hover {
      color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
      background-color: var(--mantine-color-pink-1);
      text-decoration: none;
    }
  
    &[data-active] {
      color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
      border-color: var(--mantine-color-pink-4);
    }
  }

  .userButton {
    padding-bottom: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-lg);
  }

  .footer {
    border-top: 1px solid var(--mantine-color-pink-2);
    padding-top: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
