.image {
    width: 420px;
    height: 280px;
  
    @media (max-width: $mantine-breakpoint-md) {
      display: none;
    }
  }
 
  .imageFlexRow {
    display: flex;
    justify-content: center;
  }

  .smallImage {
    display: none;
  
    @media (max-width: $mantine-breakpoint-md) {
      display: block;
      width: 360px;
      height: 240px;
    }

    @media (max-width: $mantine-breakpoint-xs) {
      width: 270px;
      height: 180px;
    }
  }