.content {
  width: 100%;
  margin-right: 30px;

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
  border-radius: var(--mantine-radius-lg);
  background-color: var(--mantine-color-pink-0);
}

.labourBadge{
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-pink-4);
}

.backButton {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 10px
  }
}

.smallImage {
  display: none;

  @media (max-width: $mantine-breakpoint-md) {
    display: block;
    width: 350px;
    height: 250px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 260px;
    height: 180px;
  }
}
