.footer {
    background-color: var(--mantine-color-primary-1);
    z-index: 100;
    margin-top: 2vh;
  
    @media (max-width: $mantine-breakpoint-md) {
        margin-top: 1vh;
    }
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-lg);
    padding-bottom: var(--mantine-spacing-lg);
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(41%) saturate(7500%) hue-rotate(353deg) brightness(99%) contrast(110%);;
  }