.header {
    height: 84px;
    margin-bottom: 120px;
    background-color: #ffe0d7;
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  
  .inner {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileImage {
    @media (min-width: 48em) {
      display: none;
    }
  }
  
  .desktopImage {
    @media (max-width: 47.99em) {
      display: none;
    }
  }
  
  .links {
    padding-top: var(--mantine-spacing-lg);
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .mainLinks {
    margin-right: calc(var(--mantine-spacing-sm) * -1);
  }
  
  .mainLink {
    text-transform: uppercase;
    border-radius: 20px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    padding: 7px var(--mantine-spacing-sm);
    font-weight: 700;
    border: 2px solid transparent;
    transition:
      border-color 100ms ease,
      color 100ms ease;
  
    @mixin hover {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      background-color: #fe8c65;
      text-decoration: none;
    }
  
    &[data-active] {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      border-color: #fe8c65;
    }
  }
