.root {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--mantine-color-pink-3);
    background-color: var(--mantine-color-pink-3);
    border-radius: var(--mantine-radius-xl);

    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .modal {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
  }
  
  .modalTitle {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-xl)
  }

  .modalBody {
    border: 5px solid var(--mantine-color-pink-3);
    border-radius: var(--mantine-radius-xl);
    background-color: var(--mantine-color-pink-0);
  }

  .modalHeader {
    width: 100%;
    background-color: var(--mantine-color-pink-3);
  }
  
  .modalText {
    color: var(--mantine-color-gray-9);
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-lg);
  }
  
  .checkBoxLabelText {
    color: var(--mantine-color-gray-8);
    font-size: var(--mantine-font-size-md);
    font-weight: 700;
  }

  .closeButton {
    display: none;
  }
