.modalRoot {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--mantine-color-primary-3);
    background-color: var(--mantine-color-primary-3);
    border-radius: var(--mantine-radius-xl);

    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }

  .helpModalRoot {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--mantine-color-primary-3);
    background-color: var(--mantine-color-primary-3);
    border-radius: var(--mantine-radius-xl);

  }
  
  .modal {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-md);
  }
  
  .modalTitle {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-xl)
  }

  .modalBody {
    border: 5px solid var(--mantine-color-primary-3);
    border-radius: var(--mantine-radius-xl);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-primary-2));
    width: 100%;
  }

  .modalHeader {
    width: 100%;
    background-color: var(--mantine-color-primary-3);
  }
  
  .modalText {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-lg);
  }
  
  .checkBoxLabelText {
    color: var(--mantine-color-gray-8);
    font-size: var(--mantine-font-size-md);
    font-weight: 700;
  }

  .modalCloseButton {
    display: none;
  }

  .modalInnerText {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-2));
    font-weight: 700;
    font-size: var(--mantine-font-size-lg);
  }

  .modalInnerTextContainer {
    border-radius: var(--mantine-radius-xl);
    background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-primary-5));
    padding: 10px 15px;
  }

  .modalMessageText {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-2));
  }