/* Manually setting some colors so they can be used before mantine loads the custom theme */
.root {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #ff7964;
    background-color: #ff7964;
    border-radius: var(--mantine-radius-xl);
    flex-basis: content;
    justify-content: center;
    max-width: 1100px;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      padding: calc(var(--mantine-spacing-md));
    }
  
    @media (max-width: $mantine-breakpoint-xs) {
        padding: 0;
    }
  }

.content {
    width: 100%
}

.navTabs {
    background-color: var(--mantine-color-pink-3);
    color: var(--mantine-color-white);
    position: sticky;
    top: 60px;
    z-index: 100;
}

.navTab {
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;

    &:hover {
        color: var(--mantine-color-gray-9);
        background-color: var(--mantine-color-pink-1);
    }
}

.navTabSection {
    @media (max-width: $mantine-breakpoint-sm) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.navTabText {
    @media (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}

.navTabPanel {
    width: 100%;
}

.title {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-xl);
}

.body {
    border: 5px solid #ff7964;
    border-radius: var(--mantine-radius-xl);
    background-color: #ffeae6;
    padding: var(--mantine-spacing-md);
    height: auto;
    min-width: 220px;
    flex: 1;
}

.header {
    width: 100%;
    padding: var(--mantine-spacing-md);
}

.text {
    color: var(--mantine-color-gray-9);
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-lg);
}

.importantText {
    display: flex;
    background-color: var(--mantine-color-pink-1);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.minorText {
    color: var(--mantine-color-gray-7);
    font-weight: 400;
    margin-bottom: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-md);
}

.flexRowNoBP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
    flex-wrap: wrap;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
    }
}

.flexRowEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
    width: 100%;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
    }
}

.flexRowEndNoBP {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
    width: 100%;

}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexPageColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: calc(var(--mantine-spacing-lg));

    @media (max-width: $mantine-breakpoint-md) {
        padding: calc(var(--mantine-spacing-md));
    }

    @media (max-width: $mantine-breakpoint-xs) {
        padding: 4px;
    }
}

.flexColumnEnd {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.notificationTitle {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--mantine-font-size-md);
}

.notificationSuccessTitle {
    color: var(--mantine-color-gray-9);
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--mantine-font-size-md);
}

.notificationDescription {
    color: var(--mantine-color-white);
    font-weight: 600;
    font-size: var(--mantine-font-size-md);
}

.notificationSuccessDescription {
    color: var(--mantine-color-gray-8);
    font-weight: 600;
    font-size: var(--mantine-font-size-md);
}