.footer {
    margin-top: 4vh;
    background-color: var(--mantine-color-pink-1);
    z-index: 100;
    position: relative;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  
    @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
    }
  }

  .link {
    color: var(--mantine-color-pink-5);
    text-decoration: none;
  }
  
  .links {
    @media (max-width: $mantine-breakpoint-xs) {
      margin-top: var(--mantine-spacing-md);
    }
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(41%) saturate(7500%) hue-rotate(353deg) brightness(99%) contrast(110%);;
  }