.content {
  max-width: 480px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    "Greycliff CF",
    var(--mantine-font-family);
  font-size: 34px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 30px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 22px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.form {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}