.stepperSteps {
    flex-wrap: unset;
}

.stepperStepIcon {
    display: none;
}

.stepperStep {
    transition: transform 150ms ease;
  
    &[data-progress] {
      transform: scale(1.05);
    }
  }

.stepperStepLabel {
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.stepperStepDescription {
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.submitRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
    margin-top: 25px;
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }

  .backButton {
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: 10px
    }
  }