.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xs));
  }
}

.content {
  width: 100%;
}

.title {
  padding: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-sm));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding: calc(var(--mantine-spacing-xs));
  }
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content:end;
  margin-bottom: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 8px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    margin-bottom: 2px;
  }
}

.statusUpdateContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 10px;
}

.privateNotePanel{
  background-color: #fff8e1;
  padding: 10px 20px;
  width: 100%;
  border-radius: var(--mantine-radius-md);
  position: relative;
  border-left: 4px solid #ffb300;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.statusUpdatePanel{
  background-color: #f0f9f8;
  padding: 10px 20px;
  width: 100%;
  border-radius: var(--mantine-radius-md);
  position: relative;
  border-left: 4px solid #24968b;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.announcementPanel{
  background-color: var(--mantine-color-pink-0);
  padding: 10px 20px;
  width: 100%;
  border-radius: var(--mantine-radius-md);
  position: relative;
  border-left: 4px solid var(--mantine-color-pink-6);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.messageFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 0.8rem;
}

.statusUpdateButton {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 10px
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
  }
}

.image {
  width: 376px;
  height: 300px;

  @media (max-width: $mantine-breakpoint-md) {
    width: 300px;
    height: 250px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 225px;
    height: 200px;
  }
}

.imageFlexRow {
  display: flex;
  justify-content: center;
}