name: Contact Service Checks

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'contact_service/**'
      - '.github/workflows/**'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.3"
          enable-cache: true

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          token_format: 'access_token'
          project_id: ${{ vars.PROJECT_ID }}
          service_account: ${{ vars.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Install dependencies
        run: make deps
        working-directory: ./contact_service

      - name: Run Tests
        run: make test
        working-directory: ./contact_service
      
      - name: Run Lint Check
        run: make lint
        working-directory: ./contact_service
